.GoLand*
.WebStorm*
.cargo/
.multirust
.node-gyp/
.phpls/
.rustup/
.android/
.aptitude/
.audacity-data/
.bash_*
.cache/
.CLion*
.composer/
.config/
.console/
.dbus/
.dropbox*
.drush/cache/
.gconf/
.gimp*
.gnome*
.gnupg/
.gstreamer-0.10/
.gtk-recordmydesktop
.ICEauthority
.install4j
.java/
.kde/
.kodi
.lesshst
.local/
.mozilla/
.mplayer/
.mysql
.mysql_history
.nano_history
.node_repl_history
.npm/
.PhpStorm*
.pip/
.pki/
.profile
.putty/
.PyCharm*
.python_history
.qalculate/
.recently-used
.remmina/
.rnd
.scribus/
.Skype/
.ssh/
.swp
.thumbnails/
.vboxclient*
.ViberPC/
.viminfo
.Xauthority
.xsel.log
.xsession-errors
adrianna.jpg
ClionProjects/
console/
django_test/
Documents/
Downloads/
Dropbox/
drupal/
drush-backups/
Firefox_wallpaper.png
former-gists/
git_projects/
ides/
kdenlive/
logs/
Pictures/
Pycharm*
python_environments/
rs_product_display/
src
Templates/
videos/
Videos/
workspace/
.synaptic
*Cache*
.pgadmin3
.sudo_as_admin_successful
.wget-hsts
.mono/
VirtualBox VMs/
go
projects
.vscode/
.openshot/
.DataGrip2017.2/
.cups/
.quokka/
.DataGrip*
.devedeng
.dvdcss/
.npmrc
Music/
.site_aliases
.Rider2017.3/
.dotnet/
.nuget/
.pgpass
.sites_aliases
.templateengine/
.v8flags.6.2.414.54.43b1cc1db7be63d899dd4280f578691a.json
.vsts/
Desktop/
RiderProjects/
jetbrains/
pgadmin.log
.ZAP/
.gpac/
.lando/
.pEp/
.pEp_management.db
.pEp_management.db-shm
.pEp_management.db-wal
.php_history
.ssr/
.thunderbird/
Maildir/
nba_games_to_see.bak/
warranties/
DB_Main.kdbx
programs/
VirtualBoxVMs/
.Rider*
.aspnet/
.ngrok/
.yarnrc
www/
.idea
.texlive2018
.hashcat
