[user]
	name = Vagelis Prokopiou
	email = vagelis.prokopiou@gmail.com
[push]
	default = simple
[core]
    editor = 'vi'
    eol = lf
    autocrlf = false
    whitespace = -trailing-space,-indent-with-non-tab,-tab-in-indent
[init]
	defaultBranch = master
