.ICEauthority
.PhpStorm2016.2/
.Xauthority
.aptitude/
.bash_history
.cache/
.config/
.dbus/
.gconf/
.gnome/
.gnupg/
.install4j
.java/
.local/
.mozilla/
.mysql_history
.npm/
.profile
.recently-used
.rnd
.ssh/
.xsel.log
.xsession-errors
Documents/
Downloads/
Firefox_wallpaper.png
PhpstormProjects/
.Skype/
.ViberPC/
.audacity-data/
.bash_aliases
.bash_logout
.bash_profile
.dropbox-dist/
.dropbox/
.drush/
.gimp-2.8/
.kde/
.mplayer/
.nano_history
.node_repl_history
.pki/
.python_history
.qalculate/
.thumbnails/
Dropbox/
Pictures/
Templates/
git_projects/
kdenlive/
rs_product_display/
update.sh
videos/
.CLion2016.2/
.PyCharm2016.2/
.composer/
.console/
.lesshst
.v8flags.4.5.103.36.root.json
.v8flags.4.5.103.37.root.json
ClionProjects/
PycharmProjects/
console/
drush-backups/
logs/
workspace/
