.ICEauthority
.PhpStorm2016.2/
.Xauthority
.aptitude/
.bash_history
.cache/
.config/
.dbus/
.gconf/
.gnome/
.gnupg/
.install4j
.java/
.local/
.mozilla/
.mysql_history
.npm/
.profile
.recently-used
.rnd
.ssh/
.xsel.log
.xsession-errors
Documents/
Downloads/
Firefox_wallpaper.png
PhpstormProjects/
